<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
		<add key="TCP_PORT" value="51557"/>
		<add key="HTTP_PORT" value="51558"/>		
		<add key="pathfileconflog4net" value="C:\Dev\PAL\Codice\Motore OPENae\ServizioOPENaeSRV\bin\log4net.xml"></add>
		<add key="ConnectionStringDB" value="Data Source = 192.168.14.204;Initial Catalog=OPENae;UID=opengov;PWD=$!0p3ng0v;"></add>
		<add key="NomeCartellaTracciati" value="TracciatiAgenziaEntrate\"></add>
		<!--*** PRODUZIONE ***
		<add key="PathTracciati" value="\\192.168.14.112\h$\SITI Web locali\OPENae-Agenzia Entrate\ElaborazioneTracciati\"></add>
		<add key="PathTracciatiForDownload" value="https://www.ran.it/OPENae/ElaborazioneTracciati/"></add>-->
		<!--*** LOCALE ***-->
		<add key="PathTracciati" value="C:\Inetpub\wwwroot\OPENae\MyFiles\ElaborazioneTracciati\"></add>
		<add key="PathTracciatiForDownload" value="http://localhost/OPENae/ElaborazioneTracciati/"></add>
		<add key="TipoSupportoTracciato" value="0"></add><!--0=TELEMATICO, 1=ALTRO SUPPORTO-->
   </appSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
